/*
	Theme Name: North Child Theme
	Theme URI: https://themeforest.net/item/north-responsive-woocommerce-theme/9117256
	Description: <strong>A Premium theme for magazine, editor, community and more! WordPress Theme by <a href="http://www.themeforest.net/user/fuelthemes">fuelthemes</a></strong> – Update notifications available on Twitter and Themeforest <a href="http://twitter.com/anteksiler">Follow us on twitter</a> – <a href="http://themeforest.net/user/fuelthemes">Follow us on Themeforest</a>
	Version: 1.0.0
	Author: fuelthemes
	Author URI: http://themeforest.net/user/fuelthemes
	Template: north-wp
	Text Domain: north
	License: Themeforest Split Licence
	License URI: -
*/

.woocommerce-message,
.woocommerce-error,
.woocommerce-info:not(.cart-empty) {
	background: #000000;
}

.thb-shop-title {
	display: none;
}

/* deleteSticsQuicjahop */
.quick-shop {
	display: none !important;
}

/* end */

/* changeSpaseInButtin#1 */
/* .btn,
.button,
input[type="submit"] {
	line-height: 40px;
} */

/* end */

/* changeSpaseInButtin#2 */
/* .btn.alt,
.btn.wc-forward:not(.checkout),
.button.alt,
.button.wc-forward:not(.checkout),
input[type="submit"].alt,
input[type="submit"].wc-forward:not(.checkout) {
	line-height: 41px;
} */

/* end */

/* deleteIconWishlist */
.wishlist_icon {
	display: none;
}

/* end */

/* deleteIconWishlistInPage */
.yith-wcwl-add-button {
	display: none !important;
}

/* end */

/* deleteShareButtononProdPage */
.thb_share {
	display: none !important;
}

.sku_wrapper {
	display: none !important;
}

.product_meta {
	margin-top: 0px !important;
}

/* end */


@media only screen and (max-width: 600px) {


	.vc_empty_space.eSpace {
		display: none;
	}

	.vc_column-inner.vc_custom_1503596282806 {
		padding-top: 55px;
	}

	.caption-style2.aligncenter.thb_image_link.wp-caption {
		padding-top: 55px;
	}
}

/* end */

/* changeSpaseInButtin#2 */
/* .btn.large,
.btn.single_add_to_cart_button,
.button.large,
.button.single_add_to_cart_button,
input[type="submit"].large,
input[type="submit"].single_add_to_cart_button {
	line-height: 41px;
} */

/* end */

/* deleteIconWishlist */
.wishlist_icon {
	display: none;
}

/* end */

/* deleteIconWishlistInPage */
.yith-wcwl-add-button {
	display: none !important;
}

/* end */

/* deleteShareButtononProdPage */
/* .thb_share {
	display: none !important;
} */

.sku_wrapper {
	display: none !important;
}

.product_meta {
	margin-top: 0px !important;
}

/* end */

/* changePhotos on main Page */
@media only screen and (min-width: 600px) {
	.vc_custom_1627651047367 {
		background-image: url(/wp-content/uploads/2021/10/Header-for-Sity-Vibes-1.jpeg);
		background-position: center !important;
		background-size: cover !important;
		background-size: cover !important;
	}
}

@media only screen and (max-width: 600px) {
	.vc_custom_1627651047367 {
		background-image: /*             url(/wp-content/uploads/2021/07/bg1mob.png); */ url(/wp-content/uploads/2021/10/headerMP-scaled.jpg);
		background-position: center !important;
		background-size: cover !important;
		background-size: cover !important;
	}
}

/* end */

/* changeSpaseInButtin#1 */
/* .btn,
.button,
input[type="submit"] {
	line-height: 36px;
} */

/* end */

/* changeSpaseInButtin#2 */
/* .btn.large,
.btn.single_add_to_cart_button,
.button.large,
.button.single_add_to_cart_button,
input[type="submit"].large,
input[type="submit"].single_add_to_cart_button {
	line-height: 41px;
} */

/* end */

/* deleteIconWishlist */
.wishlist_icon {
	display: none;
}

/* end */

/* deleteIconWishlistInPage */
.yith-wcwl-add-button {
	display: none !important;
}

/* end */

/* deleteShareButtononProdPage */
.thb_share {
	display: none !important;
}

.sku_wrapper {
	display: none !important;
}

.product_meta {
	margin-top: 0px !important;
}

/* end */
------
	/* deleteSticsQuicjahop */
.quick-shop {
	display: none !important;
}

/* end */

/* changeSpaseInButtin#1 */
/* .btn,
.button,
input[type="submit"] {
	line-height: 36px;
} */

/* end */

/* CSS block for colors on page */
.thb-swatches.thb_color-swatch .thb-swatch > span {
	width: 48px;
	height: 48px;
}

.thb-swatches.thb_color-swatch .thb-swatch {
	width: 50px;
	height: 50px;
}

/* end */

/* deleteSticsQuicjahop */
.quick-shop {
	display: none !important;
}

/* end */

/* changePhotos on main Page */
@media only screen and (min-width: 600px) {
	.vc_custom_1627651047367 {
		background-image: url(/wp-content/uploads/2021/10/Header-for-Sity-Vibes-1.jpeg);
		background-position: center !important;
		background-size: cover !important;
		background-size: cover !important;
	}
}

@media only screen and (max-width: 600px) {
	.vc_custom_1627651047367 {
		background-image: /*             url(/wp-content/uploads/2021/07/bg1mob.png); */ url(/wp-content/uploads/2021/10/headerMP-scaled.jpg);
		background-position: center !important;
		background-size: cover !important;
		background-size: cover !important;
	}
}

/* end */

/* Benefits of Product */
.inner_benefits {
	margin-top: 48px;
	width: 100%;
	height: 150px;
	display: block;
}

.inner_benefits_folder {
	justify-content: center;
	display: flex;
	width: 100%;
	height: 200px;
	text-align: center;
	margin: 0 auto;
}

.firstt {
	display: block;
	padding-right: 20px;
}

.secondd {
	display: block;
	padding-right: 20px;
}

.thirdd {
	display: block;
	padding-right: 20px;
}

.fourthh {
	display: block;
	padding-right: 20px;
}

.fifthh {
	display: block;
}

.imgForIcon {
	max-width: 45px;
	max-height: 45px;
}

.imgForIconOne {
	max-width: 115px;
	max-height: 66px;
}

/* and Benefits of froduct */
.wpb_column.columns.medium-4.thb-dark-column.small-12 {
	margin: 0px 0px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	margin-bottom: 2px;
	margin-top: 5px;
	padding: 0px 6px !important;
}

/* .btn.medium.customize-unpreviewable {
	line-height: 40px;
} */

.badge.new {
	display: none;
}

.thb-icon-container {
	display: none !important;
}

.thb-image-content p {
	margin: 0px;
	font-size: 20px;
}

.cli-style-v2 {
	font-size: 10pt;
}

.vc_column-inner.vc_custom_1503596151232 {
	padding: 55px;
}

.imgForIcon {
	margin-bottom: 10px;
}

.wpcf7-form.init {
	text-align: center;
}

.ajax-loader {
	display: none !important;
}

.widget_subscribe.large {
	padding: 0px 10px !important;
}

/* .btn.pill.white.animation.bottom-to-top.large {
	line-height: 43px;
}

.thb_load_more.btn {
	line-height: 40px;
}

.btn.pill.alt.animation.fade-in.medium {
	line-height: 37px;
} */

.wpb_column.columns.medium-4.thb-dark-column.small-12 {
	text-align: center;
}

/* NEWS PAGE */
.thb_post_nav {
	display: none;
}

/* AND NEWS PAGE */

/* .btn.medium {
	line-height: 40px;
} */

.woocommerce-Price-currencySymbol {
	padding-left: 5px;
}

.columns.thb-light-column h1 {
	font-size: 90px !important;
}

.row.wpb_row.vc_inner.row-fluid.align-center.row-o-content-bottom.row-flex {
	margin: 0px !important;
}

.paymenttypes.payment_pp {
	display: none;
}

.wpcf7-f2905-p201-o1-ve-email-248 {
	display: none;
}

.screen-reader-response {
	display: none;
}

.wpcf7-not-valid-tip {
	display: none;
}

.fa.fa-instagram {
	font-size: 23px !important;
}

.fa.fa-facebook {
	font-size: 20px !important;
}

.theme-popup {
	max-width: 100%;
}

.pum-container {
	max-width: 680px !important;
}

/**.contactFormClass {
	text-align: center;
}**/

.wpcf7-list-item-label {
	text-transform: initial;
}

.wpcf7-spinner {
	display: none;
}

.pum-content:focus {
	outline: none;
	box-shadow: none;
}

.wpcf7-list-item.label {
	text-align: center;
}

.woocommerce-product-details__short-description .more {
	display: none;
}

.header .logolink .logoimg {
	width: auto;
}

.admin-bar .header:not(.fixed) ~ #mobile-menu,
.admin-bar .header:not(.fixed) {
	top: 32px !important;
}

.admin-bar .header:not(.fixed) ~ #mobile-menu {
	height: calc(100% - 0px);
}

.woocommerce-variation-add-to-cart p.description {
	font-size: 10px;
	margin-top: 10px;
}

.woocommerce-input-wrapper abbr.required,
.woocommerce-billing-fields abbr.required {
	opacity: 1;
	text-decoration: none;
	border-bottom: none;
}

.woocommerce-info .woocommerce-Price-amount {
	margin-left: 10px;
}

#marketing_opting .optional {
	display: none;
}

@media only screen and (max-width: 1199px) {
	.row {
		padding: 0 !important;
	}

	.thb-full-menu > li + li,
	.secondary-menu > li + li {
		margin-left: 20px;
	}
}

@media only screen and (max-width: 782px) {
	.admin-bar .header:not(.fixed) ~ #mobile-menu,
	.admin-bar .header:not(.fixed) {
		top: 46px !important;
	}

	.admin-bar .header:not(.fixed) ~ #mobile-menu {
		height: calc(100% - 46px);
	}

	.page-padding {
		padding-top: 58px !important;
	}
}

@media only screen and (max-width: 479px) {
	.header.style1 .logo-holder {
		-webkit-transform: translate3d(calc(-50% - 52px), -50%, 0);
		-moz-transform: translate3d(calc(-50% - 52px), -50%, 0);
		-ms-transform: translate3d(calc(-50% - 52px), -50%, 0);
		-o-transform: translate3d(calc(-50% - 52px), -50%, 0);
		transform: translate3d(calc(-50% - 52px), -50%, 0);
	}

	.header .logolink .logoimg {
		max-height: 18px;
	}

	.mobile-toggle-holder {
		margin-top: 6px;
	}
}

.pswp__caption__center {
	visibility: hidden !important;
}

.attachment-medium.size-medium.entered.lazyloaded {
	width: 200px;
}

.benefits {
	font-size: 14px;
	margin: 50px 0 20px;
	width: 100%;
	display: block;
}

.benefits__list {
	display: flex;
	gap: 15px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	align-items: center;
}

.benefits__img {
	width: 40px;
	display: block;
	margin: auto;
	padding-bottom: 5px;
}

.stylist {
	font-size: 14px;
}

.stylist__description {
	margin-bottom: 10px;
}

.label-coming-soon {
	text-align: right;
}

.label-coming-soon {
	top: 10px;
	right: 25px;
	position: absolute;
}

.label-coming-soon span {
	background: #000;
	padding: 0 5px;
	color: #fff;
	position: relative;
	z-index: 10;
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	letter-spacing: 0.07em;
}

.products .product {
	position: relative;
}

.large-2.columns {
	text-align: center;
}

#prev_slide {
	margin-bottom: 10px;
	display: block;
}

.single-product .product .columns .row {
	align-items: center;
}

.pum-title popmake-title, .pum-theme-default-theme .pum-title {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
}

.wpcf7 {
	margin-top: 20px;
}

.wpcf7 h4 {
	text-align: center;
}

#wpcf7-f4504-p4150-o2 .wpcf7-list-item-label {
	display: none;
}

.pum-theme-3021 .pum-title, .pum-theme-default-theme .pum-title {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
}

.wpcf7 {
	margin-top: 20px;
}

.wpcf7 h4 {
	text-align: center;
}

#wpcf7-f4504-p4150-o2 .wpcf7-list-item-label {
	display: none;
}

div.quantity .qty::-webkit-outer-spin-button,
div.quantity .qty::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

div.quantity .qty {
	-moz-appearance: textfield;
}

.single_variation_wrap .wpcf7 .input {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.single_variation_wrap .wpcf7 .input .wpcf7-submit {
	width: 76px;
	background-color: transparent;
	color: #000;
	transition: all 0.3s ease;
	border: 1px solid #e5e5e5;
}

.single_variation_wrap .wpcf7 .input .wpcf7-submit:hover {
	background: #000;
	color: #fff;
}

.single_variation_wrap .wpcf7 .input .your-email {

	display: block;
	width: calc(100% - 76px);

}

.single_variation_wrap .wpcf7 .input .your-email input {
	padding: 0 15px !important;
	margin: 0;
	border: 1px solid #e5e5e5;
	border-right: none;
}

.single_variation_wrap .wpcf7 .checkbox > label {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-left: 25px;
	position: relative;
	cursor: pointer;
}

.single_variation_wrap .wpcf7 .checkbox > label:before {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	border: 1px solid #e5e5e5;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 1px;
}

.single_variation_wrap .wpcf7 .checkbox.checked > label:before {
	content: '✓';
}

.single_variation_wrap .wpcf7 .checkbox input {
	display: none;
}

.single_variation_wrap .wpcf7 .checkbox {
	margin-bottom: 20px;

}

.single_variation_wrap .wpcf7 .checkbox label {
	margin-bottom: 0;
	line-height: 1.6 !important;
}

.single_variation_wrap .wpcf7 .checkbox .wpcf7-form-control-wrap {
	width: auto;
}

.product-information .product_meta .wcml-dropdown a.wcml-cs-item-toggle {
	line-height: 38px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.product-information .product_meta .wcml-dropdown {
	width: 100% !important;
	height: 40px !important;
}

.product-information .product_meta .wcml-dropdown .wcml-cs-submenu a {
	height: 40px !important;
	line-height: 38px;
	padding: 0 15px;
}

.coming-soon {
	padding: 0 36px;
	height: 46px;
	line-height: 44px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #151515;
	margin: 0;
	display: inline-flex;
	justify-content: center;
	outline: 0;
	color: #fff;
	background: #151515;
	text-shadow: none !important;
	justify-content: center;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

.wpcf7-form-control-wrap.acceptance-737 {
	width: 340px;
	display: block;
	margin: 0 auto;
}

.woocommerce-shipping-methods span {
	display: block;
	color: #767676;
	text-transform: initial;
	margin-top: 5px;
}

.single_variation_wrap .wpcf7 .checkbox > label {
	flex-wrap: wrap;
}

.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required {
	display: none;
}

.category-banner img {
	object-fit: cover;
	object-position: center top;
	width: 100%;
	height: 400px;
}

.pum .pum-title {
	text-align: center !important;
}

.pum .wpcf7-form textarea {
	min-height: 120px;
	resize: none;
	padding: 6px;
}

.single-product .pum .pum-container {
	padding: 0 60px !important;
}

.pum .pum-container label {
	line-height: 1.4;
	width: 100%;
}

.pum .pum-container .wpcf7-form-control-wrap {
	width: 100%;
	display: block;
}

.pum .pum-container .wpcf7-form-control-wrap textarea,
.pum .pum-container .wpcf7-form-control-wrap input:not([type="checkbox"]) {
	width: 100%;
}

.pum-container.pum-responsive.pum-responsive-tiny {
	min-width: 480px !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
	margin-left: 0 !important;
}

.pum .pum-container .wpcf7-form-control-wrap .wpcf7-list-item {
	margin-left: 0 !important;
}

.thb-product-detail .product-information .product_meta {
	line-height: 1.4 !important;
}

.checkbox {
	line-height: 1.4;
}

#shipping_method li {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#shipping_method li > label {
	width: 100%;
	line-height: 1.4;
}

#shipping_method li input {
	margin-top: 1px;
}

#shipping_method li > label span {
	display: inline-block;
	margin-top: 0;
}

.wpcf7-form-control-wrap.list {
	display: none;
}

.badge {
	max-width: calc(100% - 20px);
	height: auto !important;
}

.wpcf7-form .checkbox label a {
	padding: 0 3px !important;
}

.transparency-item {
	height: 21px;
	border-right: 6px solid #fff;
	background-color: #9a9a9a;
	-webkit-transition: all .5s;
	transition: all .5s;
	cursor: default !important;
	position: relative;
}

.transparency-item--first {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.transparency-item--last {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right: none;
}

.align-items-center {
	align-items: center !important;
}

.transparency-of-price {
	max-width: 1000px;
	position: relative;
	text-align: center;
}

.product-transparency {
	width: initial !important;
	margin: auto;
}

.d-flex.align-items-center {
	display: block;
}

.transparency-bar {
	display: flex;
	margin-bottom: 30px;
}

.transparency-item-span {
	position: absolute;
	top: -25px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap;
	font-weight: 400;
}

.column-text {
	margin-bottom: 40px;
}

.fituresRow-inner1-fav1 {
	margin: auto;
	width: 60px;
	height: 60px;
	background: url(./assets/img/threads.png) !important;
	background-size: 60px !important;
	background-repeat: no-repeat !important;
}

.fituresRow-inner1-fav2 {
	margin: auto;
	width: 60px;
	height: 60px;
	background: url(./assets/img/envelope.png) !important;
	background-size: 60px !important;
	background-repeat: no-repeat !important;
}

.fituresRow-inner1-fav3 {
	margin: auto;
	width: 60px;
	height: 60px;
	background: url(./assets/img/computer.png) !important;
	background-size: 60px !important;
	background-repeat: no-repeat !important;
}

.fituresRow {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	box-sizing: border-box;
}

.fituresRow-inner1 {
	width: 41%;
}

.fituresRow-inner2 {
	width: 12%;
}

.fituresRow-inner3 {
	width: 47%;
}

@media only screen and (max-width: 600px) {
	#wrapper
	> div:nth-child(2)
	> div
	> div.row.wpb_row.row-fluid.no-padding.full-width-row.vc_custom_1638223827162.row-has-fill.row-o-full-height.row-o-columns-middle.row-o-content-top.row-flex {
		background-image: url(/wp-content/uploads/2021/10/headerMP-scaled.jpg) !important;
		background-position: center !important;
		background-size: cover !important;
	}
}

@media only screen and (max-width: 600px) {
	.pum-container.pum-responsive.pum-responsive-tiny {
		min-width: calc(100% - 30px) !important;
	}

	.single-product .pum .pum-container {
		padding: 20px 25px !important;
	}
}

.wpbc_structure_form .datepick {
	margin-bottom: 0 !important;
}

.wpbc_structure_form .wpdev-form-control-wrap textarea {
	min-height: 38px;
	height: 38px;
}

.wpbc_structure_form .wpdev-form-control-wrap input[type="text"],
.wpbc_structure_form .wpdev-form-control-wrap input[type="email"] {
	height: 38px;
}

.try_on1 .wpdev-list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
}

.wpbc_structure_form {
	position: relative;
}

.wpbc_structure_form > .wpdev-help-message.alert.alert-warning:not(.alert-success),
.wpbc_structure_form > .wpdev-help-message .alert.alert-warning:not(.alert-success) {
	top: -5px !important;
	bottom: inherit !important;
}

.wpbc_structure_form p {
	position: relative !important;
}

.wpdev-form-control-wrap.try_on1 + .wpdev-help-message.alert.alert-warning:not(.alert-success),
.wpdev-form-control-wrap.try_on1 + .wpdev-help-message .alert.alert-warning:not(.alert-success) {
	bottom: -10px !important;
}

[style="text-align: justify;font-size: 12px;max-width: 276px;"] .wpdev-form-control-wrap {
	position: static;
}

.wpbc_structure_form .wpdev-list-item,
.try_on1 p {
	position: relative;
}

.booking_form {
	max-width: fit-content;
	margin: 0 auto;
}

.wpdev-form-control-wrap.newsletter1,
.wpdev-form-control-wrap.personal_date1 {
	display: inline-block;
}

.wpdev-form-control-wrap {
	position: relative;
	display: block;
}

.wpdev-help-message.alert.alert-warning:not(.alert-success),
.wpdev-help-message .alert.alert-warning:not(.alert-success) {
	position: absolute !important;
	background: transparent !important;
	border: none !important;
	color: #f00 !important;
	bottom: -15px !important;
	display: block !important;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
	left: 0 !important;
	line-height: 1 !important;
	font-size: 10px !important;
}

.submiting_content.wpdev-help-message.alert.alert-warning.alert-success {
	border: 2px solid #b2dba1 !important;
	background: transparent !important;
	color: #000 !important;
	font-weight: 400 !important;
	opacity: 1 !important;
	font-size: 16px !important;
	line-height: 1.2 !important;
	display: table;
	margin: 0 auto;
}

p[style="text-align: justify;font-size: 12px;max-width: 286px;"] {
	position: relative;
}

p[style="text-align: justify;font-size: 12px;max-width: 286px;"] .wpdev-form-control-wrap {
	position: static;
}

.popover.popover_calendar_hover {
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
	background: #fff !important;
	padding: 5px;
	opacity: 1 !important;
	max-width: fit-content;
	border-radius: 4px;
	font-size: 14px;
	z-index: 100;
}

.block_hints {
	display: inline-flex;
	flex-direction: column;
	height: auto !important;
	width: auto !important;
	vertical-align: middle;
	margin-bottom: 20px;
}

body .bk_calendar_frame {
	display: inline-flex;
	vertical-align: middle;
	margin-bottom: 20px;
	height: 278px;
}

body .block_hints.datepick {
	margin-bottom: 20px !important;
}

.booking_form .form-group .controls select, .booking_form select, .booking_form textarea, .booking_form input[type="text"] {
	width: 274px;
	box-sizing: border-box;
}

.fituresRow-inner1-fav2,
.fituresRow-inner1-fav3,
.fituresRow-inner1-fav1 {
	width: 42px !important;
	height: 42px !important;
	background-size: contain !important;
}

.fituresRow-inner1-text h5 {
	font-size: 14px !important;
	margin-top: 15px !important;
}

.transparency-of-price .fituresRow {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.transparency-bar .transparency-item {
	border-right: 0 !important;
	position: relative;
}

.transparency-bar .transparency-item:before {
	content: '';
	position: absolute;
	width: 6px;
	right: 0;
	transform: translateX(50%);
	bottom: 0;
	top: 0;
	background: #fff;
}

.transparency-bar .transparency-item:last-of-type:before {
	display: none;
}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1024px) {
	.toggle-holder {
		align-items: center;
		display: flex;
	}

	.product-thumbnail-container {
		position: relative;
	}

	.product-thumbnail-container .fa {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		font-size: 20px;
	}

	.fa-long-arrow-left {
		left: 15px;
	}

	.fa-long-arrow-right {
		right: 15px;
	}
}

@media only screen and (max-width: 991px) {
	.block_hints .wpdev_hint_with_text {
		margin: 10px 0;
	}

	.booking_form .block_check_in_out,
	.booking_form .block_pending,
	.booking_form .block_time,
	.booking_form .block_booked,
	.booking_form .block_free {
		width: 20px !important;
		height: 20px !important;
	}

	.booking_form .block_text {
		height: 20px !important;
		line-height: 20px !important;
		padding: 0 10px 0 25px !important;
	}

	body .bk_calendar_frame {
		width: auto !important;
	}

	body .block_hints.datepick {
		margin: auto 0 auto 8px !important;
	}

	table:not(.variations):not(.shop_table):not(.group_table) tbody th, table:not(.variations):not(.shop_table):not(.group_table) tbody td, table:not(.variations):not(.shop_table):not(.group_table) thead th, table:not(.variations):not(.shop_table):not(.group_table) thead td, table:not(.variations):not(.shop_table):not(.group_table) tfoot th, table:not(.variations):not(.shop_table):not(.group_table) tfoot td {
		font-size: 10px;
		padding: 4px !important;
	}

	.datepick-inline .datepick-title-row th, .datepick-inline .datepick-days-cell {
		height: 24px !important;
	}

	body .bk_calendar_frame {
		height: 190px;
	}

	body .block_hints.datepick {
		margin: auto 0 auto 0px !important;
	}

	.block_hints .wpdev_hint_with_text {
		margin: 10px 0 0 5px !important;
	}

	.block_text {
		font-size: 12px !important;
	}
}

@media only screen and (max-width: 767px) {
	body .bk_calendar_frame {
		height: 206px !important;
	}

	body .booking_form_div input[type="button"] {
		padding: 0px 20px !important;
	}

	.column,
	.columns {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.columns.product-thumbnail-container,
	.columns.woocommerce-product-gallery {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.thb-product-detail .product-thumbnails,
	.thb-product-detail .product-images {
		margin: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	.bk_calendar_frame {
		margin-bottom: 20px;
		display: inline-flex;
		vertical-align: middle;
		width: 200px !important;
	}

	table:not(.variations):not(.shop_table):not(.group_table) tbody th, table:not(.variations):not(.shop_table):not(.group_table) tbody td,
	table:not(.variations):not(.shop_table):not(.group_table) thead th, table:not(.variations):not(.shop_table):not(.group_table) thead td, table:not(.variations):not(.shop_table):not(.group_table) tfoot th, table:not(.variations):not(.shop_table):not(.group_table) tfoot td {
		padding: 5px !important;
		text-align: content !important;
	}

	body .block_hints.datepick {
		margin-bottom: 20px !important;
	}

	.datepick-inline .datepick-title-row th, .datepick-inline .datepick-days-cell {
		height: 28px !important;
	}

	.block_hints .wpdev_hint_with_text {
		margin: 10px;
		padding: 0 !important;
	}

	.booking_form .form-group .controls select,
	.booking_form select, .booking_form textarea,
	.booking_form input[type="text"] {
		width: 286px !important;
		box-sizing: border-box !important;
	}
}

@media only screen and (max-width: 640px) {
	table:not(.variations):not(.shop_table):not(.group_table) tbody th, table:not(.variations):not(.shop_table):not(.group_table) tbody td, table:not(.variations):not(.shop_table):not(.group_table) thead th, table:not(.variations):not(.shop_table):not(.group_table) thead td, table:not(.variations):not(.shop_table):not(.group_table) tfoot th, table:not(.variations):not(.shop_table):not(.group_table) tfoot td {
		font-size: 12px;
		padding: 5px !important;
	}

	body .booking_form_div input[type="text"],
	body .booking_form_div select,
	body .booking_form_div textarea {
		width: 100% !important;
	}


	.fituresRow-inner1-text > h5 {
		font-size: 16px !important;
	}


	.fituresRow-inner1-fav1 {
		margin: auto;
		width: 30px;
		height: 30px;
		background: url(./assets/img/threads.png) !important;
		background-size: 40px !important;
		background-repeat: no-repeat !important;
	}

	.fituresRow-inner1-fav2 {
		margin: auto;
		width: 40px;
		height: 40px;
		background: url(./assets/img/envelope.png) !important;
		background-size: 40px !important;
		background-repeat: no-repeat !important;
	}

	.fituresRow-inner1-fav3 {
		margin: auto;
		width: 40px;
		height: 40px;
		background: url(./assets/img/computer.png) !important;
		background-size: 40px !important;
		background-repeat: no-repeat !important;
	}
}

@media only screen and (max-width: 579px) {

}

@media only screen and (max-width: 345px) {
	body .block_hints.datepick {
		margin: 0 !important;
		display: flex;
		flex-direction: row;
	}

	.block_hints.datepick .wpdev_hint_with_text:first-of-type {
		margin-left: 0 !important;
	}

	body .block_hints.datepick {
		margin-bottom: 20px !important;
	}

	.fituresRow-inner1-fav1 {
		margin: auto;
		width: 30px;
		height: 30px;
		background: url(./assets/img/threads.png) !important;
		background-size: 40px !important;
		background-repeat: no-repeat !important;
	}

	.fituresRow-inner1-fav2 {
		margin: auto;
		width: 40px;
		height: 40px;
		background: url(./assets/img/envelope.png) !important;
		background-size: 40px !important;
		background-repeat: no-repeat !important;
	}

	.fituresRow-inner1-fav3 {
		margin: auto;
		width: 40px;
		height: 40px;
		background: url(./assets/img/computer.png) !important;
		background-size: 40px !important;
		background-repeat: no-repeat !important;
	}

	.fituresRow-inner1-text > h5 {
		font-size: 16px !important;
	}
}

.availability_date {
	font-size: 14px;
	margin-top: 15px;
	display: block;
}

.summary.entry-summary > .availability_date,
.products.row.thb-main-products .availability_date {
	display: none;
}